* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.088000700280112) 0%,
      rgba(0, 0, 0, 0.1707457983193278) 1%
    ),
    url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-s5-jir-8784-kwan-01_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=fc0a4003710e323524343e4d684aa963");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Impact", sans-serif;
  font-weight: 800;
  font-size: 5rem;
  margin-block: 2.3rem;
}

h1 + p {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.1875rem;
  margin-block: 2.1875rem;
}

button {
  border:none;
  background-color:#fccb98 ;
  color: purple;
  margin: 0 auto;
  display: block;
  border-radius: .5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: .8125rem;
  transition: all 300ms linear;
}

button:hover{
    background-color:purple ;
    color:#fccb98 ;   
}

blockquote {
  max-width: 450px;
  margin: auto;
  margin-top: 2rem;
  font-family:'Nunito',sans-serif ;
}

figcaption{
    font-weight: 600;
}

@media screen and (max-width: 767.9808px) {
  body{
    height: 120vh;
  }
}
